rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /haptext_chats/{chatId}/messages/{messageFile} {
      allow read, write: if chatId == 'ameena_gonzalo';
    }
  }
}
